@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book_Management_System.Models.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<link href="../../plugins/toastr/toastr.css" rel="stylesheet" />
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>



<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Library</b>SYSTEM</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Here you can easily retrieve a new password.</p>

<form method="post">
  

                    <div class="input-group mb-3">
                        <input type="hidden" asp-for="UserId" />
                        <input class="form-control" placeholder="New Password" type="password" id="NewPassword" name="NewPassword"  required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-eye-slash toggle-password" style="cursor: pointer;"></span>
                            </div>
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
</form>



                <p class="mt-3 mb-1">
                    <a href="/">Login</a>
                </p>
                <p class="mb-0">
                    <a href="/Auth/Register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>


    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
</body>


<!-- Password Toggle Script -->
<script>
    $(document).ready(function () {
        $('.toggle-password').on('click', function () {
            const passwordField = $('#NewPassword');
            const fieldType = passwordField.attr('type') === 'password' ? 'text' : 'password';
            passwordField.attr('type', fieldType);
            $(this).toggleClass('fa-eye-slash fa-eye');
        });
    });
</script>